@font-face {
  font-family: 'dotsfont';
  src: url('../font/dotsfont.eot');
  src: url('../font/dotsfont.eot?#iefix') format('embedded-opentype'),
       url('../font/dotsfont.woff') format('woff'),
       url('../font/dotsfont.ttf') format('truetype'),
       url('../font/dotsfont.svg#dotsfontregular') format('svg');
}

.password-wo-help input {
  font-family: 'dotsfont';
  letter-spacing: -4px;
}

.small-font {
  font-size: 0.85rem;
}

.v-data-table--dense > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table--dense > .v-data-table__wrapper > table > thead > tr > td, .v-data-table--dense > .v-data-table__wrapper > table > tfoot > tr > td {
  height: 38px;
}