/**
* Property table
*/
.property-table tr:hover {
  background-color: transparent !important;
}

.property-table tr td {
  border-bottom: none !important;
}

.property-table td {
  padding-left: 0;
  height: 32px;
  min-height: 32px !important;
}

.property-table input {
  color: rgba(0, 0, 0, 0.75) !important;
}

.property-table .v-input__slot {
  background-color: #f9f9f9 !important;
  min-height: 30px !important;
  font-size: 0.9em !important;
  box-shadow: 0px 1px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 2px 0px rgba(0, 0, 0, 0.12) !important;
}

.property-table td.prop-name {
  text-align: right !important;
  width: 20% !important;
}

.v-tabs-bar {
  display: none;
}

.v-expansion-panel-content__wrap {
  padding: 0 !important;
}
